
{% extends "common/base.html" %}

{% block title %}Notas - Planner App{% endblock %}

{% block content %}
<div class="d-flex h-100 gap-3">

    <!-- SIDEBAR DAS NOTAS -->
    <section class="d-flex flex-column p-3 border-end bg-primary-subtle" style="width: 300px;">

        <!-- Header -->
        <div class="d-flex gap-1 mb-3">
            <div class="justify-content-start">
                <i class="bi bi-person-circle text-primary"></i><span class="fw-bold"> User</span><br>
                <small>Profile</small>
            </div>
            <div class="justify-content-end ms-auto">
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#password_modal">
                <i class="bi bi-plus-circle-fill"></i>
                </button>
                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#profile_modal">
                <i class="bi bi-person-circle"></i>
                </button>
                <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#settings_modal">
                <i class="bi bi-gear-wide"></i>
                </button>
            </div>
        </div>

        <hr>

        <!-- Seções -->
        <div class="flex-grow-1 overflow-auto">

            <span class="text-secondary small">
                <i class="bi bi-pin"></i> Fixadas
            </span>

            <div class="mt-2 mb-3">
                <!-- lista de senhas fixadas -->
            </div>

            <span class="text-secondary small">
                <i class="bi bi-archive"></i> Outros
            </span>

            <div class="mt-2">
                <!-- lista de senhas -->
            </div>

        </div>
    </section>

    <!-- ÁREA DA NOTA -->
    <section class="d-flex flex-column flex-grow-1 p-3">

    </section>
</div>

{% endblock %}

{% block scripts %}
<!-- Scripts aqui -->
{% endblock %}